.footer {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

.footer-light {
    background-color: #ffffff;
    color: #000000; 
  }
  
  .footer-dark {
    background-color: #363638;
    color: #ffffff; 
  }