.carousel-image {
  max-height: 85vh; /* 85% of the viewport height */
  width: auto; /* Adjust width automatically */
  object-fit: contain; /* Contain within the element without cropping */
  margin: auto; /* Center the image horizontally */
}

#padding {
  padding: 1rem;
}
