.hero-section {
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out; /* Smooth transition for background change */
  }
  

  