.hero-section {
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out; /* Smooth transition for background change */
  }
  
/* For the light theme */
.text-shadow-light {
  text-shadow: 2px 2px 2px #ffffff; /* White shadow */
}

/* For the dark theme */
.text-shadow-dark {
  text-shadow: 2px 2px 2px #000000; /* Black shadow */
}

.btn-placement {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  z-index: 5;
}
  
.custom-light-button {
  background-color: #415d86;
  color: black;
  border: none;
}