
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.footer {
  width: 100%;
  background: #f8f9fa; /* Example background color */
  color: #6c757d; /* Example text color */
  text-align: center;
  padding: 10px 0; /* Example padding */
}
